*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-color: #00BFA6;
    padding: 0 !important;
}
.navbar-brand img{
    height: 60px;
    padding-left: 40px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #ffffff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #ffffff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

/*----------------banner-------------------*/
#banner{
    background-color: #00BFA6;
    color: #ffffff;
    padding-top: 5%;
}
.title-index{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.heart_img{
    height: 200%;
    width: 120%;
    margin-top: -100px;
 }
.bottom-img{
    width: 100%;
}

/*--------------services------------*/
#services{
    padding: 80px 0;
}
.service-img{
    width: 100px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background: #00BFA6;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(65px);
}
.title::after{
    content: '';
    background: #00BFA6;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(10px);
}
#services .btn-primary{
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: #00BFA6;
}

/*----------------about us----------------*/
#about-us{
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li{
    margin: 10px 0;
}
.img_about-us{
    height: 100%;
    width: 100%;
    margin-top: 30px;
}