

*
{
    margin: 0;
    padding: 0;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
input {
  font-family: "Poppins", sans-serif;

}

#nav-bar{
    position: sticky;
    top: 0;

    z-index: 1;

}
.navbar{
    background-color: #00BFA6;
    padding: 0 !important;
}
.navbar-brand img{
    height: 60px;
    padding-left: 40px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #ffffff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-nav li a:hover{
    background-color: #049985;
    border-radius: 50px;

}

.fa-bars{
    color: #ffffff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

/*----------------banner-------------------*/
#banner{
    background-color: #00BFA6;
    color: #ffffff;
    padding-top: 5%;
}
.title-index{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.heart_img{
    height: 200%;
    width: 120%;
    margin-top: -100px;
 }
.bottom-img{
    width: 100%;
}

/*--------------services------------*/
#services{
    padding: 80px 0;
}
.service-img{
    width: 100px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background: #00BFA6;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(65px);
}
.title::after{
    content: '';
    background: #00BFA6;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(10px);
}


/*----------------about us----------------*/
#about-us{
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li{
    margin: 10px 0;
}
.img_about-us{
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

/*----------------------testimonial-----------------*/
#testimonials{
    margin: 100px 0;
}
.testimonials{
    border-left: 4px solid #00BFA6;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user-review{
    display: inline-block;
    font-size: 12px;
}

/*-------------------social-media-----------------*/



/*--------------footer-------------*/
#footer{
    background-color:#00BFA6;
    color: #ffffff;
    padding-top: 40px;
}
.footer-img{
    width: 100%;
}
.footer-box img{
    width: 120px;
    transition: 0.5s;
    margin-bottom: 20px;
}
.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 5px;
    background-color: #049985;
}
.social-icon img{
    
    width: 60px;
    transition: 0.5s;
}
.social-icon a:hover img{
    transform: translateY(-10px);
}
hr{
    background-color: #ffffff ;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

/*----------------Login-Sign up----------------*/

