*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{

  background: rgb(175, 175, 175);

  
}

.logo{
  margin: 0;
  padding: 0;
  position: relative;

}

.wrapper .header{
  z-index: 1;
  background: #00bfa6;
  position: fixed;
  width: calc(100% - 0%);
  height: 70px;
  display: flex;
  top: 0;
}

.wrapper .header .header-menu{
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.wrapper .header .header-menu .logo img{
  height: 70px;
}




.wrapper .header .header-menu .title span{
  color: #00bfa6;
}


.wrapper .header .header-menu .sidebar-btn{
  color: #fff;
  position: absolute;
  margin-left: 240px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover{
  color: #078574;
}

.wrapper .header .header-menu ul{
  display: flex;
}

.wrapper .header .header-menu ul li a{
  background: #fff;
  color: #4acab9;
  display: block;
  margin: 0 10px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: background, color;
}

.wrapper .header .header-menu ul li a:hover{
  background: #078574;
  color: #fff;
}

.wrapper .sidebar{
  z-index: 1;
  background: #12d8be;
  position: fixed;
  top: 70px;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.3s;
  transition-property: width;
  overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu{
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .profile img{
  margin: 10px 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .item{
  width: 250px;
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 15px 20px;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
  color: #078574;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
  margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
  float: right;
  font-size: 12px;
  margin-top: 3px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu{
  background: #0fa894;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  transition-property: background, max-height;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a{
  display: block;
  position: relative;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  padding: 10px;
  transition: 0.3s;
  transition-property: background;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
  background: #078574;
}
.wrapper .sidebar ul li a.active{
  background: aqua;
}
.wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
  border-bottom: 1px solid #8FC5E9;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i{
  padding-right: 20px;
  font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu{
  max-height: 500px;
}

.wrapper .main-container{
  width: (100% - 250px);
  margin-top: 70px;
  margin-left: 250px;
  padding: 15px;
  transition: 0.3s;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar .profile img,
.wrapper.collapse .sidebar .profile p,
.wrapper.collapse .sidebar a span{
  display: none;
}

.wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
  font-size: 23px;
}

.wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
  font-size: 18px;
  padding-left: 3px;
}

.wrapper.collapse .main-container{
  width: calc(100% - 70px);
  margin-left: 70px;
}

.wrapper .main-container .card{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.wrapper .main-container .welcome {
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-top: 150px;
  margin-left: 450px;
}
.wrapper .main-container .welcome img{
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.wrapper .main-container .adminprofile .ad{
  background: #fff;
}
.wrapper .main-container  .adminprofile{
  background: #fff;
  height: 100%;
  display: flex;
  vertical-align: center;
  align-items: center;
  text-align: center;
  padding:  10px;
  margin: 20px;
  border-right: 1px solid #000;
}
.wrapper .main-container .adminprofile .adminprofilepic{
  width: 30%;
  border-right: 2px solid black;
  margin: 50px 0;
}

.wrapper .main-container .adminprofile div{
  margin: 0 20px;
  display: block;
}
.wrapper .main-container .adminprofile .adminprofilepic img{
  margin-bottom: 20px;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  position: relative;
  
}
.wrapper .main-container .adminprofile .adminprofileinfo{
  width: auto;
}
.wrapper .main-container .adminprofile .adminprofileinfo .table-box{
  margin: 30px auto;
 
}
.wrapper .main-container .adminprofile .adminprofileinfo .table-box .table-row{
  display: table;
  width: 80%;
 border: 1px solid #2F323A;
  background: transparent;
  padding: 10px 0;
  color: #555;
  font-size: 13px;
  
}
.wrapper .main-container .adminprofile .adminprofileinfo .table-box .table-row .table-cell{
  display: table-cell;
  width: 50%;
  text-align: center;
  padding: 4px 0;
  font-weight: bold;
  vertical-align: middle;
}

.wrapper .main-container .adminprofile .adminprofileedit span{
  background: #078574;
  color: #fff;
  display: block;
  position: relative;
  font-size: 25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  margin-left: 590px;
}
.wrapper .main-container .adminprofile .adminprofileedit span:hover{
  background: #fff;
  color: #00bfa6;
  border: 4px solid #00bfa6;
}

/*-------Modal--------------*/
.wrapper .main-container .adminprofile .modal-container{
  width: auto;
  height: auto;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background-color: #008876;
  border-radius: 3%;
  transition: all 500ms ease;
  margin-left: 250px;
}
.wrapper .main-container .adminprofile .modal-container:target{
  opacity: 1;
  pointer-events: auto;
}
.wrapper .main-container .adminprofile .modal-container .modal{
  width: 500px;
  
  margin-top: 20px;
}
.wrapper .main-container .adminprofile .modal-container > div {
  transform: translate(0px , -100px);
  transition: all 500ms ease;
}
.wrapper .main-container .adminprofile .modal-container:target > div{
  transform: translate(0px , 0px);
}
.wrapper .main-container .adminprofile .modal-container .modal .table-box{
  margin: 10px auto;
 
}
.wrapper .main-container .adminprofile .modal-container .modal .table-box .table-row{
  display: table;
  width: 80%;
 
  background: transparent;
  padding: 5px 0;
  color: #ffffff;
  font-size: 13px;
  
}
.wrapper .main-container .adminprofile .modal-container .modal .table-box .table-row .table-cell{
  display: table-cell;
  width: 50%;
  text-align: center;
  padding: 4px 0;
  
  font-weight: bold;
  vertical-align: middle;
}
.wrapper .main-container .adminprofile .modal-container .modal .close{
  color: white;
  position: absolute;
  
  
  background: #078574;
  text-decoration: none;
  top: -10px;
  right: -5px;
  border-radius: 50%;
  transition: background 500ms;
}
.wrapper .main-container .adminprofile .modal-container .modal .close:hover{
  color: wheat;
  cursor: pointer;
}
.wrapper .main-container .adminprofile .modal-container .modal .modal-heading{
  width: 100%;
  display: block;
  height: 40px;
  
  color: #14c8b0;

  text-align: center;
  font-size: 20pt;
  border-bottom: 2px solid #14c8b0;
}
.wrapper .main-container .adminprofile .modal-container .modal .table-box .table-row .table-cell input{
  height: 25px;
  width: 250px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
}
.wrapper .main-container .adminprofile .modal-container .modal .table-box .table-row .table-cell p{
  height: 25px;
  width: 100px;
  text-align: end;
  border-radius: 10px;
  vertical-align: middle;
}
.wrapper .main-container .adminprofile .modal-container .modal .table-box .table-row .table-cell textarea{
  height: 40px;
  width: 250px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
}
.wrapper .main-container .adminprofile .modal-container .modal .table-box .table-row .tablecell{
height: 25px;
width: 250px; 
text-align: center;

}
.wrapper .main-container .adminprofile .modal-container .modal .table-box .table-row .table-cell .blood-group{
  height: 25px;
  width: 250px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
}
.wrapper .main-container .adminprofile .modal-container .modal .submit{
  height: 30px;
  width: 80px;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
  background: #14c8b0;
  margin-bottom: 20px;
}
.wrapper .main-container .adminprofile .modal-container .modal .submit:hover{
  border: 2px solid #14c8b0;
  color: #14c8b0;
  background: #fff;
}